<title><%= title %></title>
<meta charset="utf-8" />
<link rel="icon" href="/imagens/ap/11.jpg" />

<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="@didox">
<meta property="twitter:title" content="Apartamento para alugar">
<meta property="twitter:description" content="Apartamento Av do Orat처rio S찾o Paulo para alugar">
<meta property="twitter:image" content="/imagens/ap/11.jpg">

<meta property="og:site_name" content="Apartamento para alugar">
<meta property="og:title" content="Apartamento para alugar">
<meta property="og:type" content="website">
<meta property="og:url" content="http://ap-didox.herokuapp.com/">
<meta property="og:image" content="/imagens/ap/11.jpg">
<meta property="og:description" content="Apartamento Av do Orat처rio S찾o Paulo para alugar">
