<!DOCTYPE html>
<html>
  <head>
    <%- include('../shared/head', { title: "Apartamento para alugar" }) %>
    <link rel="stylesheet" type="text/css" href="stylesheets/demo.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style2.css" />
  </head>
  <body id="page">
      <div class="container">
    <header>
      <h1>Apartamento <span>para alugar</span></h1>
      <h2>Av. do Oratório - Jardim Angela (Zona Leste)</h2>
      <hr>
      <h2 class="contato">
        <b>Contatos:</b> <br>
        <ul>
          <li>
            Sheila Santos: (11)2374-5118, (11)99301-1699 ou sheilaspzs@yahoo.com.br
          </li>
          <li>
            Wesley: (11)96083-6032
          </li>
          <li>
            Danilo Aparecido: (11) 97614-4154
          </li>
        </ul>
      </h2>
      <h2 class="contato">
        <b>Aluguel somente:</b> <span class="valor">R$ 1300</span> com condomínio incluso <br>
      </h2>
    </header>
    <section>
      <ul class="lb-album video">
        <li>
          <a href="#image-video5">
            <img width="150" height="150" src="https://i.ytimg.com/vi/CzI8Jti5DJU/hqdefault.jpg" alt="image0video5">
            <span>Video </span>
          </a>
          <div class="lb-overlay" id="image-video5">
            <iframe width="500" height="700" src="https://www.youtube.com/embed/CzI8Jti5DJU" frameborder="0" allowfullscreen></iframe>
            <div>
              <h3>Interna</h3>
              <p>Parte interna do apartamento</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-video4">
            <img width="150" height="150" src="https://i.ytimg.com/vi/aHhNoAGXw_g/hqdefault.jpg" alt="image0video4">
            <span>Video </span>
          </a>
          <div class="lb-overlay" id="image-video4">
            <iframe width="500" height="700" src="https://www.youtube.com/embed/aHhNoAGXw_g" frameborder="0" allowfullscreen></iframe>
            <div>
              <h3>Interna</h3>
              <p>Parte interna do apartamento</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-video3">
            <img width="150" height="150" src="https://i.ytimg.com/vi/WNmyzc11-Ek/hqdefault.jpg" alt="image0video3">
            <span>Video </span>
          </a>
          <div class="lb-overlay" id="image-video3">
            <iframe width="500" height="700" src="https://www.youtube.com/embed/WNmyzc11-Ek" frameborder="0" allowfullscreen></iframe>
            <div>
              <h3>Interna</h3>
              <p>Parte interna do apartamento</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-video2">
            <img width="150" height="150" src="https://i.ytimg.com/vi/znIFNNKS2us/hqdefault.jpg" alt="image0video2">
            <span>Video </span>
          </a>
          <div class="lb-overlay" id="image-video2">
            <iframe width="500" height="700" src="https://www.youtube.com/embed/znIFNNKS2us" frameborder="0" allowfullscreen></iframe>
            <div>
              <h3>Externa</h3>
              <p>Parte Externa do apartamento</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-video1">
            <img width="150" height="150" src="https://i.ytimg.com/vi/GVuOzr3oNjQ/hqdefault.jpg" alt="image0video1">
            <span>Video </span>
          </a>
          <div class="lb-overlay" id="image-video1">
            <iframe width="500" height="700" src="https://www.youtube.com/embed/GVuOzr3oNjQ" frameborder="0" allowfullscreen></iframe>
            <div>
              <h3>Interna</h3>
              <p>Parte interna do apartamento</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
      </ul>
    </section>
    <section>
      <ul class="lb-album">
        <li>
          <a href="#image-1">
            <img src="/imagens/ap/mini/1.jpg" alt="image01">
            <span>Pointe</span>
          </a>
          <div class="lb-overlay" id="image-1">
            <img src="/imagens/ap/1.jpg" alt="image01" />
            <div>
              <h3>pointe <span>/point/</h3>
              <p>Dance performed on the tips of the toes</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-2">
            <img src="/imagens/ap/mini/2.jpg" alt="image02">
            <span>Port de bras</span>
          </a>
          <div class="lb-overlay" id="image-2">
            <img src="/imagens/ap/2.jpg" alt="image02" />
            <div>             
              <h3>port de bras <span>/ˌpôr də ˈbrä/</h3>
              <p>An exercise designed to develop graceful movement and disposition of the arms</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-3">
            <img src="/imagens/ap/mini/3.jpg" alt="image03">
            <span>Plié</span>
          </a>
          <div class="lb-overlay" id="image-3">
            <img src="/imagens/ap/3.jpg" alt="image03" />
            <div>             
              <h3>pli·é <span>/plēˈā/</h3>
              <p>A movement in which a dancer bends the knees and straightens them again</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-4">
            <img src="/imagens/ap/mini/4.jpg" alt="image04">
            <span>Adagio</span>
          </a>
          <div class="lb-overlay" id="image-4">
            <img src="/imagens/ap/4.jpg" alt="image04" />
            <div>             
              <h3>a·da·gio <span>/əˈdäjō/</h3>
              <p>A movement or composition marked to be played adagio</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-5">
            <img src="/imagens/ap/mini/5.jpg" alt="image05">
            <span>Frappé</span>
          </a>
          <div class="lb-overlay" id="image-5">
            <img src="/imagens/ap/5.jpg" alt="image05" />
            <div>             
              <h3>frap·pé<span>/fraˈpā/</h3>
              <p>Involving a beating action of the toe of one foot against the ankle of the supporting leg</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-6">
            <img src="/imagens/ap/mini/6.jpg" alt="image06">
            <span>Glissade</span>
          </a>
          <div class="lb-overlay" id="image-6">
            <img src="/imagens/ap/6.jpg" alt="image06" />
            <div>             
              <h3>glis·sade <span>/gliˈsäd/</h3>
              <p>One leg is brushed outward from the body, which then takes the weight while the second leg is brushed in to meet it</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-7">
            <img src="/imagens/ap/mini/7.jpg" alt="image07">
            <span>Jeté</span>
          </a>
          <div class="lb-overlay" id="image-7">
            <img src="/imagens/ap/7.jpg" alt="image07" />
            <div>             
              <h3>je·té <span>/zhə-ˈtā/</h3>
              <p>A springing jump made from one foot to the other in any direction</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-8">
            <img src="/imagens/ap/mini/8.jpg" alt="image08">
            <span>Piqué</span>
          </a>
          <div class="lb-overlay" id="image-8">
            <img src="/imagens/ap/8.jpg" alt="image08" />
            <div>             
              <h3>pi·qué <span>/pēˈkā/</h3>
              <p>Strongly pointed toe of the lifted and extended leg sharply lowers to hit the floor then immediately rebounds upward</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-9">
            <img src="/imagens/ap/mini/9.jpg" alt="image09">
            <span>Arabesque</span>
          </a>
          <div class="lb-overlay" id="image-9">
            <img src="/imagens/ap/9.jpg" alt="image09" />
            <div>             
              <h3>ar·a·besque <span>/ˌarəˈbesk/</h3>
              <p>Position of the body supported on one leg, with the other leg extended behind the body with the knee straight</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-10">
            <img src="/imagens/ap/mini/10.jpg" alt="image10">
            <span>Ballerina</span>
          </a>
          <div class="lb-overlay" id="image-10">
            <img src="/imagens/ap/10.jpg" alt="image10" />
            <div>             
              <h3>bal·le·ri·na <span>/ˌbaləˈrēnə/</h3>
              <p>A female ballet dancer</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-11">
            <img src="/imagens/ap/mini/11.jpg" alt="image10">
            <span>Ballerina</span>
          </a>
          <div class="lb-overlay" id="image-11">
            <img src="/imagens/ap/11.jpg" alt="image10" />
            <div>             
              <h3>bal·le·ri·na <span>/ˌbaləˈrēnə/</h3>
              <p>A female ballet dancer</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-12">
            <img src="/imagens/ap/mini/12.jpg" alt="image10">
            <span>Ballerina</span>
          </a>
          <div class="lb-overlay" id="image-12">
            <img src="/imagens/ap/12.jpg" alt="image10" />
            <div>             
              <h3>bal·le·ri·na <span>/ˌbaləˈrēnə/</h3>
              <p>A female ballet dancer</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-13">
            <img src="/imagens/ap/mini/13.jpg" alt="image10">
            <span>Ballerina</span>
          </a>
          <div class="lb-overlay" id="image-13">
            <img src="/imagens/ap/13.jpg" alt="image10" />
            <div>             
              <h3>bal·le·ri·na <span>/ˌbaləˈrēnə/</h3>
              <p>A female ballet dancer</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-14">
            <img src="/imagens/ap/mini/14.jpg" alt="image10">
            <span>Ballerina</span>
          </a>
          <div class="lb-overlay" id="image-14">
            <img src="/imagens/ap/14.jpg" alt="image10" />
            <div>             
              <h3>bal·le·ri·na <span>/ˌbaləˈrēnə/</h3>
              <p>A female ballet dancer</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-15">
            <img src="/imagens/ap/mini/15.jpg" alt="image10">
            <span>Ballerina</span>
          </a>
          <div class="lb-overlay" id="image-15">
            <img src="/imagens/ap/15.jpg" alt="image10" />
            <div>             
              <h3>bal·le·ri·na <span>/ˌbaləˈrēnə/</h3>
              <p>A female ballet dancer</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-16">
            <img src="/imagens/ap/mini/16.jpg" alt="image10">
            <span>Ballerina</span>
          </a>
          <div class="lb-overlay" id="image-16">
            <img src="/imagens/ap/16.jpg" alt="image10" />
            <div>             
              <h3>bal·le·ri·na <span>/ˌbaləˈrēnə/</h3>
              <p>A female ballet dancer</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-17">
            <img src="/imagens/ap/mini/17.jpg" alt="image10">
            <span>Ballerina</span>
          </a>
          <div class="lb-overlay" id="image-17">
            <img src="/imagens/ap/17.jpg" alt="image10" />
            <div>             
              <h3>bal·le·ri·na <span>/ˌbaləˈrēnə/</h3>
              <p>A female ballet dancer</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-18">
            <img src="/imagens/ap/mini/18.jpg" alt="image10">
            <span>Ballerina</span>
          </a>
          <div class="lb-overlay" id="image-18">
            <img src="/imagens/ap/18.jpg" alt="image10" />
            <div>             
              <h3>bal·le·ri·na <span>/ˌbaləˈrēnə/</h3>
              <p>A female ballet dancer</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-19">
            <img src="/imagens/ap/mini/19.jpg" alt="image10">
            <span>Ballerina</span>
          </a>
          <div class="lb-overlay" id="image-19">
            <img src="/imagens/ap/19.jpg" alt="image10" />
            <div>             
              <h3>bal·le·ri·na <span>/ˌbaləˈrēnə/</h3>
              <p>A female ballet dancer</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-20">
            <img src="/imagens/ap/mini/20.jpg" alt="image10">
            <span>Ballerina</span>
          </a>
          <div class="lb-overlay" id="image-20">
            <img src="/imagens/ap/20.jpg" alt="image10" />
            <div>             
              <h3>bal·le·ri·na <span>/ˌbaləˈrēnə/</h3>
              <p>A female ballet dancer</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-21">
            <img src="/imagens/ap/mini/21.jpg" alt="image10">
            <span>Ballerina</span>
          </a>
          <div class="lb-overlay" id="image-21">
            <img src="/imagens/ap/21.jpg" alt="image10" />
            <div>             
              <h3>bal·le·ri·na <span>/ˌbaləˈrēnə/</h3>
              <p>A female ballet dancer</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-22">
            <img src="/imagens/ap/mini/22.jpg" alt="image10">
            <span>Ballerina</span>
          </a>
          <div class="lb-overlay" id="image-22">
            <img src="/imagens/ap/22.jpg" alt="image10" />
            <div>             
              <h3>bal·le·ri·na <span>/ˌbaləˈrēnə/</h3>
              <p>A female ballet dancer</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-23">
            <img src="/imagens/ap/mini/23.jpg" alt="image10">
            <span>Ballerina</span>
          </a>
          <div class="lb-overlay" id="image-23">
            <img src="/imagens/ap/23.jpg" alt="image10" />
            <div>             
              <h3>bal·le·ri·na <span>/ˌbaləˈrēnə/</h3>
              <p>A female ballet dancer</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-24">
            <img src="/imagens/ap/mini/24.jpg" alt="image10">
            <span>Ballerina</span>
          </a>
          <div class="lb-overlay" id="image-24">
            <img src="/imagens/ap/24.jpg" alt="image10" />
            <div>             
              <h3>bal·le·ri·na <span>/ˌbaləˈrēnə/</h3>
              <p>A female ballet dancer</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-25">
            <img src="/imagens/ap/mini/25.jpg" alt="image10">
            <span>Ballerina</span>
          </a>
          <div class="lb-overlay" id="image-25">
            <img src="/imagens/ap/25.jpg" alt="image10" />
            <div>             
              <h3>bal·le·ri·na <span>/ˌbaləˈrēnə/</h3>
              <p>A female ballet dancer</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-26">
            <img src="/imagens/ap/mini/26.jpg" alt="image10">
            <span>Ballerina</span>
          </a>
          <div class="lb-overlay" id="image-26">
            <img src="/imagens/ap/26.jpg" alt="image10" />
            <div>             
              <h3>bal·le·ri·na <span>/ˌbaləˈrēnə/</h3>
              <p>A female ballet dancer</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-27">
            <img src="/imagens/ap/mini/27.jpg" alt="image10">
            <span>Ballerina</span>
          </a>
          <div class="lb-overlay" id="image-27">
            <img src="/imagens/ap/27.jpg" alt="image10" />
            <div>             
              <h3>bal·le·ri·na <span>/ˌbaləˈrēnə/</h3>
              <p>A female ballet dancer</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-28">
            <img src="/imagens/ap/mini/28.jpg" alt="image10">
            <span>Ballerina</span>
          </a>
          <div class="lb-overlay" id="image-28">
            <img src="/imagens/ap/28.jpg" alt="image10" />
            <div>             
              <h3>bal·le·ri·na <span>/ˌbaləˈrēnə/</h3>
              <p>A female ballet dancer</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-29">
            <img src="/imagens/ap/mini/29.jpg" alt="image10">
            <span>Ballerina</span>
          </a>
          <div class="lb-overlay" id="image-29">
            <img src="/imagens/ap/29.jpg" alt="image10" />
            <div>             
              <h3>bal·le·ri·na <span>/ˌbaləˈrēnə/</h3>
              <p>A female ballet dancer</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
        <li>
          <a href="#image-30">
            <img src="/imagens/ap/mini/30.jpg" alt="image10">
            <span>Ballerina</span>
          </a>
          <div class="lb-overlay" id="image-30">
            <img src="/imagens/ap/30.jpg" alt="image10" />
            <div>             
              <h3>bal·le·ri·na <span>/ˌbaləˈrēnə/</h3>
              <p>A female ballet dancer</p>
            </div>
            <a href="#page" class="lb-close">x Close</a>
          </div>
        </li>
      </ul>
    </section>
      </div>
  </body>
</html>
