<!DOCTYPE html>
<html>
  <head>
    <%- include('../shared/head', { title: "Apartamento para alugar" }) %>
    <link rel="stylesheet" type="text/css" href="stylesheets/demo.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style2.css" />
  </head>
  <body id="page">
    <div class="container">
      <header>
        <h1>Apartamento <span>para alugar</span></h1>
        <h2>Av. do Oratório - Jardim Angela (Zona Leste)</h2>
        <hr>
        <h2 class="contato">
          <b>Contatos:</b> <br>
          <ul>
            <li>
              Sheila Santos: (11)2374-5118, (11)99301-1699 ou sheilaspzs@yahoo.com.br
            </li>
            <li>
              Wesley: (11)96083-6032
            </li>
            <li>
              Danilo Aparecido: (11) 97614-4154
            </li>
          </ul>
        </h2>
        <h2 class="contato">
          <b>Aluguel somente:</b> <span class="valor">R$ 1300</span> com condomínio incluso <br>
        </h2>
        <br>
        <div class="share">
        <div class="fb-share-button" data-href="http://ap-didox.herokuapp.com/" data-layout="button"></div>
      </header>
      <section>
        <ul class="lb-album video">
          <li>
            <a href="#video5">
              <img width="150" height="150" src="https://i.ytimg.com/vi/CzI8Jti5DJU/hqdefault.jpg" alt="image0video5">
              <span>Video construçao</span>
            </a>
            <div class="lb-overlay" id="video5">
              <iframe width="500" height="700" src="https://www.youtube.com/embed/CzI8Jti5DJU" frameborder="0" allowfullscreen></iframe>
              <div>
                <h3>Construçao</h3>
                <p>Área onde será construido, quadra, academia e outras melhorias no condomínio</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#video4">
              <img width="150" height="150" src="https://i.ytimg.com/vi/aHhNoAGXw_g/hqdefault.jpg" alt="image0video4">
              <span>Video festas</span>
            </a>
            <div class="lb-overlay" id="video4">
              <iframe width="500" height="700" src="https://www.youtube.com/embed/aHhNoAGXw_g" frameborder="0" allowfullscreen></iframe>
              <div>
                <h3>Festas</h3>
                <p>Salão de festas e estacionamento, vaga fixa</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#video3">
              <img width="150" height="150" src="https://i.ytimg.com/vi/WNmyzc11-Ek/hqdefault.jpg" alt="image0video3">
              <span>Video lazer</span>
            </a>
            <div class="lb-overlay" id="video3">
              <iframe width="500" height="700" src="https://www.youtube.com/embed/WNmyzc11-Ek" frameborder="0" allowfullscreen></iframe>
              <div>
                <h3>Lazer</h3>
                <p>Área de lazer do apartamento</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#video2">
              <img width="150" height="150" src="https://i.ytimg.com/vi/znIFNNKS2us/hqdefault.jpg" alt="image0video2">
              <span>Video externa</span>
            </a>
            <div class="lb-overlay" id="video2">
              <iframe width="500" height="700" src="https://www.youtube.com/embed/znIFNNKS2us" frameborder="0" allowfullscreen></iframe>
              <div>
                <h3>Externa</h3>
                <p>Saída do elevador para área externa do apartamento</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#video1">
              <img width="150" height="150" src="https://i.ytimg.com/vi/GVuOzr3oNjQ/hqdefault.jpg" alt="image0video1">
              <span>Video interna</span>
            </a>
            <div class="lb-overlay" id="video1">
              <iframe width="500" height="700" src="https://www.youtube.com/embed/GVuOzr3oNjQ" frameborder="0" allowfullscreen></iframe>
              <div>
                <h3>Interna</h3>
                <p>Parte interna do apartamento, sala, cozinha, lavanderia, os dois quartos e o banheiro</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
        </ul>
      </section>
      <section>
        <ul class="lb-album">
          <li>
            <a href="#image-1">
              <img src="/imagens/ap/mini/1.jpg" alt="image01">
              <span>Quarto casal</span>
            </a>
            <div class="lb-overlay" id="image-1">
              <img src="/imagens/ap/1.jpg" alt="image01" />
              <div>
                <h3>Quarto casal</h3>
                <p>Quarto de casal com cama e armários</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-2">
              <img src="/imagens/ap/mini/2.jpg" alt="image02">
              <span>Cozinha</span>
            </a>
            <div class="lb-overlay" id="image-2">
              <img src="/imagens/ap/2.jpg" alt="image02" />
              <div>             
                <h3>Cozinha</h3>
                <p>Cozinha com armários, coifa, fogão e geladeira</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-3">
              <img src="/imagens/ap/mini/3.jpg" alt="image03">
              <span>Fogao</span>
            </a>
            <div class="lb-overlay" id="image-3">
              <img src="/imagens/ap/3.jpg" alt="image03" />
              <div>            
                <h3>Fogao</h3>
                <p>Fogão novo, acho inox, gás encanado tudo novo</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-4">
              <img src="/imagens/ap/mini/4.jpg" alt="image04">
              <span>Banheiro</span>
            </a>
            <div class="lb-overlay" id="image-4">
              <img src="/imagens/ap/4.jpg" alt="image04" />
              <div>             
                <h3>Banheiro</h3>
                <p>Banheiro com box, armários, chuveiro tudo completo</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-5">
              <img src="/imagens/ap/mini/5.jpg" alt="image05">
              <span>Pia</span>
            </a>
            <div class="lb-overlay" id="image-5">
              <img src="/imagens/ap/5.jpg" alt="image05" />
              <div>             
                <h3>Pia banheiro</h3>
                <p>Pia do banheiro bem estilosa, acabamentos em vidro</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-6">
              <img src="/imagens/ap/mini/6.jpg" alt="image06">
              <span>Lavanderia</span>
            </a>
            <div class="lb-overlay" id="image-6">
              <img src="/imagens/ap/6.jpg" alt="image06" />
              <div>              
                <h3>Lavanderia</h3>
                <p>Lavanderia fechada com vidro, separando da cozinha</p>  
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-7">
              <img src="/imagens/ap/mini/7.jpg" alt="image07">
              <span>Sala</span>
            </a>
            <div class="lb-overlay" id="image-7">
              <img src="/imagens/ap/7.jpg" alt="image07" />
              <div>             
                <h3>Sala</h3>
                <p>Sala com painél já com suporte para TV, sanca, cortina</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-8">
              <img src="/imagens/ap/mini/8.jpg" alt="image08">
              <span>Balcao americano</span>
            </a>
            <div class="lb-overlay" id="image-8">
              <img src="/imagens/ap/8.jpg" alt="image08" />
              <div>             
                <h3>Balcao americano</h3>
                <p>Balcão americado dividindo a cozinha da sala</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-9">
              <img src="/imagens/ap/mini/9.jpg" alt="image09">
              <span>Area de lazer</span>
            </a>
            <div class="lb-overlay" id="image-9">
              <img src="/imagens/ap/9.jpg" alt="image09" />
              <div>             
                <h3>Area de lazer</h3>
                <p>Área de lazer com brinquedos para as crianças</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-10">
              <img src="/imagens/ap/mini/10.jpg" alt="image10">
              <span>Estacionamento</span>
            </a>
            <div class="lb-overlay" id="image-10">
              <img src="/imagens/ap/10.jpg" alt="image10" />
              <div>             
                <h3>Estacionamento</h3>
                <p>Estacionamento com vaga fixa no térreo</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-11">
              <img src="/imagens/ap/mini/11.jpg" alt="image10">
              <span>Entrada</span>
            </a>
            <div class="lb-overlay" id="image-11">
              <img src="/imagens/ap/11.jpg" alt="image10" />
              <div>             
                <h3>Entrada</h3>
                <p>Entrada do apartamento com portões automáticos e controle para entrada e saída</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-12">
              <img src="/imagens/ap/mini/12.jpg" alt="image10">
              <span>Churrasqueira</span>
            </a>
            <div class="lb-overlay" id="image-12">
              <img src="/imagens/ap/12.jpg" alt="image10" />
              <div>             
                <h3>Churrasqueira</h3>
                <p>Área da churrasqueira para festas e contraternizações com os amigos</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-13">
              <img src="/imagens/ap/mini/13.jpg" alt="image10">
              <span>Lazer</span>
            </a>
            <div class="lb-overlay" id="image-13">
              <img src="/imagens/ap/13.jpg" alt="image10" />
              <div>             
                <h3>Lazer</h3>
                <p>Lazer completo para você e sua família</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-14">
              <img src="/imagens/ap/mini/14.jpg" alt="image10">
              <span>Maleiro</span>
            </a>
            <div class="lb-overlay" id="image-14">
              <img src="/imagens/ap/14.jpg" alt="image10" />
              <div>             
                <h3>Maleiro</h3>
                <p>Maleiro no quarto do casal, para guardar suas cobertas, facilitando e dando a você um sono mais tranquilo</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-15">
              <img src="/imagens/ap/mini/15.jpg" alt="image10">
              <span>Painel para TV</span>
            </a>
            <div class="lb-overlay" id="image-15">
              <img src="/imagens/ap/15.jpg" alt="image10" />
              <div>             
                <h3>Painel para TV</h3>
                <p>Painel para TV, já com suporte, somente chegar e colocar a sua TV</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-16">
              <img src="/imagens/ap/mini/16.jpg" alt="image10">
              <span>Parque</span>
            </a>
            <div class="lb-overlay" id="image-16">
              <img src="/imagens/ap/16.jpg" alt="image10" />
              <div>             
                <h3>Parque</h3>
                <p>Parque para brincar com suas crianças, diversão garantida</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-17">
              <img src="/imagens/ap/mini/17.jpg" alt="image10">
              <span>Corredor</span>
            </a>
            <div class="lb-overlay" id="image-17">
              <img src="/imagens/ap/17.jpg" alt="image10" />
              <div>             
                <h3>Corredor</h3>
                <p>Corredor que divide os quartos banheiro e sala</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-18">
              <img src="/imagens/ap/mini/18.jpg" alt="image10">
              <span>Quarto solteiro</span>
            </a>
            <div class="lb-overlay" id="image-18">
              <img src="/imagens/ap/18.jpg" alt="image10" />
              <div>             
                <h3>Quarto de solteiro</h3>
                <p>Quarto de solteiro com um quarda-roupas incrível. Portas em espelho e tudo mais</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-19">
              <img src="/imagens/ap/mini/19.jpg" alt="image10">
              <span>Quada roupas</span>
            </a>
            <div class="lb-overlay" id="image-19">
              <img src="/imagens/ap/19.jpg" alt="image10" />
              <div>             
                <h3>Quada roupas</h3>
                <p>Quada roupas, perfeito, com portas em espelho, um dos mais bonitos que já vi</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-20">
              <img src="/imagens/ap/mini/20.jpg" alt="image10">
              <span>Salao festas</span>
            </a>
            <div class="lb-overlay" id="image-20">
              <img src="/imagens/ap/20.jpg" alt="image10" />
              <div>             
                <h3>Salao de festas</h3>
                <p>Salão de festas para chamar seus amigos e fazer suas confraternizações e o melhor de tudo, fica no último andar do estacionamento, não incomodando os moradores</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-21">
              <img src="/imagens/ap/mini/21.jpg" alt="image10">
              <span>Planta</span>
            </a>
            <div class="lb-overlay" id="image-21">
              <img src="/imagens/ap/21.jpg" alt="image10" />
              <div>             
                <h3>Planta do apartamento</h3>
                <p>Planta do apartamento, assim tem como você ver melhor a distribuição do espaço interno</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-22">
              <img src="/imagens/ap/mini/22.jpg" alt="image10">
              <span>Cortinas</span>
            </a>
            <div class="lb-overlay" id="image-22">
              <img src="/imagens/ap/22.jpg" alt="image10" />
              <div>             
                <h3>Cortinas</h3>
                <p>Cortina muito bonita, para você ficar mais confortável em sua nova moradia</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-23">
              <img src="/imagens/ap/mini/23.jpg" alt="image10">
              <span>Entrada</span>
            </a>
            <div class="lb-overlay" id="image-23">
              <img src="/imagens/ap/23.jpg" alt="image10" />
              <div>             
                <h3>Entrada</h3>
                <p>Esta é a entrada do apartamento, onde você irá ter acesso ao estacionamento</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-24">
              <img src="/imagens/ap/mini/24.jpg" alt="image10">
              <span>Planta geral</span>
            </a>
            <div class="lb-overlay" id="image-24">
              <img src="/imagens/ap/24.jpg" alt="image10" />
              <div>             
                <h3>Planta area externa</h3>
                <p>Planta externa para você entender melhor como está distribuído os recursos de sua nova moradia</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-25">
              <img src="/imagens/ap/mini/25.jpg" alt="image10">
              <span>Brinquedos</span>
            </a>
            <div class="lb-overlay" id="image-25">
              <img src="/imagens/ap/25.jpg" alt="image10" />
              <div>             
                <h3>Brinquedos</h3>
                <p>Brinquedos para seus filhos terem mais dirversões</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-26">
              <img src="/imagens/ap/mini/26.jpg" alt="image10">
              <span>+Balança</span>
            </a>
            <div class="lb-overlay" id="image-26">
              <img src="/imagens/ap/26.jpg" alt="image10" />
              <div>             
                <h3>Balança</h3>
                <p>Balança para brincar com seus filhos, não há nada melhor não é mesmo?</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-27">
              <img src="/imagens/ap/mini/27.jpg" alt="image10">
              <span>Prédio</span>
            </a>
            <div class="lb-overlay" id="image-27">
              <img src="/imagens/ap/27.jpg" alt="image10" />
              <div>             
                <h3>Prédio</h3>
                <p>Foto do prédio, de sua nova moradia, aproveite</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-28">
              <img src="/imagens/ap/mini/28.jpg" alt="image10">
              <span>Festa completa</span>
            </a>
            <div class="lb-overlay" id="image-28">
              <img src="/imagens/ap/28.jpg" alt="image10" />
              <div>             
                <h3>Festa completa</h3>
                <p>Com este salão de festas sua festa será completa</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-29">
              <img src="/imagens/ap/mini/29.jpg" alt="image10">
              <span>Descanço</span>
            </a>
            <div class="lb-overlay" id="image-29">
              <img src="/imagens/ap/29.jpg" alt="image10" />
              <div>             
                <h3>Descanço</h3>
                <p>Aproveite para descançar um pouco, ler seus livros no redário</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
          <li>
            <a href="#image-30">
              <img src="/imagens/ap/mini/30.jpg" alt="image10">
              <span>Entrada prédio</span>
            </a>
            <div class="lb-overlay" id="image-30">
              <img src="/imagens/ap/30.jpg" alt="image10" />
              <div>             
                <h3>Entrada prédio</h3>
                <p>Entrada do prédio, onde você irá ficar ansioso para entrar sempre que chegar cansado do trabalho, já pensando em assistir um bom filme na sala de sua nova casa.</p>
              </div>
              <a href="#page" class="lb-close">x Fechar</a>
            </div>
          </li>
        </ul>
      </section>
      <footer>
        <hr><br>
        <div class="share">
          <div class="fb-share-button" data-href="http://ap-didox.herokuapp.com/" data-layout="button"></div>
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
        </div><br>
        <p>&copy; 2015 Didox Business & Technology - <a href="http://www.didox.com.br" target="_blank">website</a> </p>
      </footer>
    </div>
  </body>
</html>
